<ul class="todo-list" *ngIf="ObjectTodos.length">

  <li class="todo-item" *ngFor="let task of ObjectTodos" [ngClass]="{'todo-item-completed' : task.completed}">

    <button class="checkbox icon" (click)="onCheck(task)">
      <i class="material-icons">{{task.completed ? 'check_box' : 'check_box_outline_blank'}}</i>
    </button>

    <span class="title">{{ task.title }}</span>


    <div class="actions">
      <!--<a routerLink="todo/{{task.id}}" class="icon open-todo">-->
      <a [routerLink]="'item/'+task.id" class="icon open-todo">
        <i class="material-icons">open_in_new</i>
      </a>
      <button class="delete icon" (click)="onDelete(task)">
        <i class="material-icons">delete</i>
      </button>
    </div>

  </li>

</ul>

<!-- Вывод для дочерних роутов -->
<router-outlet></router-outlet>
