/* app.component */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1976D2;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color: white;
  img {
    width: 50px;
  }
  h1 {
    font-weight: 400;
    margin: 0 0 0 10px;
  }
}



footer{
  margin: 20px;
  display: block;
  text-align: center;
}
